
body {
	color: #333;
	font-size:10pt;
	margin: 0px;
	padding: 0;
	/*border: 4px solid blue;*/
	font-family: sans-serif;
	font-weight: normal;
}

#blog {
	margin: 10px auto 10px auto;
	border: 1px solid #888;
	box-shadow: 0px 0px 10px #555;
	width: 960px;
}


#blog > header {
	font-size: 0.8em;
	padding: 0 0 0 10px;
}
header > a {
    text-decoration: none;
    color: inherit;
}
header h1 {
	font-family: TitilliumText, sans-serif;
	font-size: 1.5em;
}

header p {
	margin: -10px 0 0 0;
}

header a {
	text-decoration: none;
	color: inherit;
}

#ad-index-right {
    margin: -5px 2px 10px 30px;
    /*padding: 90px 2px 10px 30px;*/
    /*border: 1px solid red;*/
    float: right;

}

#articleLinkList{
    font-size: 9px;
}
#articleLinkList article {
    font-family: sans-serif;
    padding-top: 10px;
}

.indexSocialLinks2 {
    height: 30px;
}

article {
	width: 728px;
	padding: 70px 100px 0 120px;
	font-size: 1.5em;
	/*border: 1px solid red;*/
	font-family: LinLibertine, serif;
}

article > header {
	font-family: TitilliumText, sans-serif;
	font-weight: bold;
}

article > header p {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 0.8em;
	color: #888;
	margin: 0;
	padding: 0;
}

article > header h2 {
	font-size: 2.0em;
	line-height: 1.1em;
	margin: 0;
	padding: 0;
}

article pre > code {
	font-size: 0.7em;
}

article > p > img {
	width: 100%;
}

article > footer {
    font-family: sans-serif;
    font-size: 0.9em;
}

#blog > footer {
    padding: 5px 100px 10px 120px;
}

#blog > footer > section {
    text-align: center;
    font-size: 1.8em;
}

#blog > footer > section a {
    /*text-decoration: none;*/
    color: inherit;
}

@media screen {
.older {
    position: fixed;
    top: 40%;
    left: 0;
    background-image: url("img/left.png");
    width: 70px;
    height: 70px;
}
.newer {
    position: fixed;
    top: 40%;
    right: 0;
    background-image: url("img/right.png");
    width: 70px;
    height: 70px;
}
}


@font-face {
	/* downloaded from http://www.fontsquirrel.com/fonts/Linux-Libertine */
	font-family: LinLibertine;
	src:url('fonts/LinLibertine_R.otf') format('opentype');
}
@font-face {
	/* downloaded from http://www.fontsquirrel.com/fonts/cabin */
	font-family: Cabin;
	src:url('fonts/Cabin-Regular.otf') format('opentype');
}
@font-face {
	/* downloaded from http://www.fontsquirrel.com/fonts/TitilliumText */
	font-family: TitilliumText;
	src:url('fonts/TitilliumText25L004.otf') format('opentype');
}