body {
    font-family: Open Sans, Tahoma,Verdana,Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: #535353;
    
}

#blog {
    margin: 10px auto 10px auto;
    border: 4px solid #666;
    width: 960px;
}


#blog > header {
    padding: 0 0 0 10px;
}

#blog > header table {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;        
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-size: 1.5em;
    margin: 0px;
}
#blog > header + hr {
    margin: 0px;
}

#blog > header .social {
    text-align: right;
}

#blog > header .social a:hover {
    opacity: 0.8;
}
#blog > header .social a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#blog > header .social a {
    height: 48px;
    width: 49px;
    margin: 0 1px 0 0;
}

#ad-index-right {
    margin: -5px 2px 10px 30px;
    /*padding: 90px 2px 10px 30px;*/
    /*border: 1px solid red;*/
    float: right;

}

#articleLinkList{
    font-size: 0.8em;
}
#articleLinkList article {
    padding-top: 10px;
}

.indexSocialLinks2 {
    height: 30px;
}

article {
    width: 728px;
    padding: 50px 100px 0 120px;
}

article > header {
    font-weight: bold;
}

article > header p {
    font-weight: normal;
    font-size: 0.9em;
    color: #888;
    margin: 0;
    padding: 0;
}

article > header h2 {
    font-size: 2.0em;
    line-height: 1.1em;
    margin: 0;
    padding: 0;
}


.linewrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

article pre > code {
    font-size: 0.9em; 
    line-height: 1.2;
}

article > p > img {
    text-align: center;
}

article > footer {
    font-family: sans-serif;
    font-size: 0.9em;
}

#blog > footer {
    padding: 5px 100px 10px 120px;
}

#blog > footer > section {
    text-align: center;
    font-size: 1.8em;
}

#blog > footer > section a {
    color: inherit;
}

#blog .entryList .entryDate {
    width: 150px;
    font-family: monospace;
    font-size: 1.0em;
}

@media screen and (min-width: 1000px) {
    .older {
        position: fixed;
        top: 40%;
        left: 0;
        background-image: url("img/left.png");
        width: 70px;
        height: 70px;
    }
    .newer {
        position: fixed;
        top: 40%;
        right: 0;
        background-image: url("img/right.png");
        width: 70px;
        height: 70px;
    }
}
