<header>
    <table>
        <tr>
            <td>
                <a href="${blogRoot}/">
                    <h1>Matthias Reining's Blog</h1>
                </a>
            </td>
            <td class="social">
                <a href="http://twitter.com/MatthiasReining" target="_blank"><img src="${blogRoot}/img/twitter.png"></a>
                <a href="http://feeds.feedburner.com/matthias-reining" target="_blank"><img src="${blogRoot}/img/rss.png"></a>
                <a href="http://about.me/matthiasreining" target="_blank"><img src="${blogRoot}/img/about-me.png"></a>
            <td>
        </tr>
    </table>
</header>
<hr/>