<header>
    <div class="row">
        <div class="col-md-8">
            <h1>
                <a href="${blogRoot}/" style="text-decoration: none">
                    Matthias Reining's Blog
                </a>
            </h1>
        </div>
        <div class="col-md-4 text-right social" style="padding-top: 10px">
            <a href="http://twitter.com/MatthiasReining" target="_blank"><img src="${blogRoot}/img/twitter.png"></a>
            <a href="http://feeds.feedburner.com/matthias-reining" target="_blank"><img src="${blogRoot}/img/rss.png"></a>
            <a href="http://about.me/matthiasreining" target="_blank"><img src="${blogRoot}/img/about-me.png"></a>

        </div>
    </div>
</header>
<hr/>