<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="alternate" type="application/rss+xml" title="Matthias Reining's Blog" href="http://feeds.feedburner.com/matthias-reining" />
    
    <#include "page-header.html">
    
    <title>Matthias Reining's Blog</title>
   
</head>

<body>
    <div id="blog">
    <#include "blog-header.html">
    <#include "main-article.html">

    <#include "article-link-list.html">

    <#include "page-footer.html">

    </div>
    
    <#include "google-analytics.html">
    
</body>
</html>