<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="alternate" type="application/rss+xml" title="Matthias Reining's Blog" href="http://feeds.feedburner.com/matthias-reining" />
    <link rel="stylesheet" href="${blogRoot}/style.css" />
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css" />
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50f7302d47b1751f"></script>
    <title>Matthias Reining's Blog</title>
   
</head>

<body>
    <div id="blog">
    <#include "page-header.html">
    <#include "main-article.html">

    <#include "article-link-list.html">

    <#include "page-footer.html">

    </div>
    
    <#include "google-analytics.html">
    
</body>
</html>