
<footer>
    <hr/>
    <section>
        <p><a href="${blogRoot}/">Artikelübersicht</a></p>
        <br/>
    </section>

<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50f7302d47b1751f"></script>

<div class="ad">
    <script type="text/javascript"><!--
        google_ad_client = 'ca-pub-3643460398629242';
        /* blog.matthias-reining.com */
        google_ad_slot = '1227081279';
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
</footer>