<meta name="msvalidate.01" content="A5B6EA49E23C376834B55DD9EDF03E56" />
<meta name="author" content="Matthias Reining" />
<meta charset="utf-8" />
<meta name="keywords" content="Java, JEE, Java EE, Web, Entwicklung, IT, Versicherung, Insurance IT, HTML5, Matthias Reining, Reining"/>
<meta name="description" content="Weblog von Matthias Reining"/>

<link rel="icon" href="https://blog.matthias-reining.com/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="https://blog.matthias-reining.com/favicon.ico" type="image/x-icon">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<xxx-link rel="stylesheet" href="${blogRoot}/style.css" />
<link rel="stylesheet" href="https://yandex.st/highlightjs/7.3/styles/default.min.css" />
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50f7302d47b1751f"></script>

<script>
    window.google_analytics_uacct = "UA-5688478-7";
</script>