
<footer>
    <hr/>
    <section>

        <div class="text-center">
            <a href="${blogRoot}/entries">Artikelübersicht</a>
        </div>
        <br>
        <br>
    </section>

    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
        $(function () {
            $("article pre").addClass("linewrap");
        });
    </script>

    <div class="ad">
        <script type="text/javascript"><!--
            google_ad_client = 'ca-pub-3643460398629242';
            /* blog.matthias-reining.com */
            google_ad_slot = '1227081279';
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </div>
</footer>

<div style="display: none;">
    <a href="https://plus.google.com/110555234354227963725?rel=author">Google</a>
</div>
