<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        
        <div style="height: 170px; width: 100%; position: fixed; 
             top: 100px; left: 0px; background-color: #AAA; 
             z-index: 1000;
             opacity:0.80;
             filter:alpha(opacity=80); /* For IE8 and earlier */
             text-align: center; font-family: sans-serif; font-size: 20px; ">
            <h1 style="font-size: 50px">
            This blog has moved to<br/>
            <a style="text-decoration: none; color: black" href="http://blog.matthias-reining.com">http://blog.matthias-reining.com</a>
            </h1>
            Die bestehenden Artikel bleiben vorerst alle bei blogspot. Neue Artikel 
            veröffentliche ich allerdings nur noch auf <a href="http://blog.matthias-reining.com">http://blog.matthias-reining.com</a>
        </div>

    </body>
</html>
